/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #333;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 800px;
    padding: 0 20px; /* Add padding for better mobile readability */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;

    z-index: 1;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
}

main {
    margin: 20px 0;
}

iframe {
    display: block;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.twitch-iframe {
    width: 90vw;
    height: 60vh;
    max-width: 800px;
    max-height: 450px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

body {
    margin-bottom: 20px;
}


/* Twitch Overlay Styles */
.iframe-container {
    display: none;
    position: relative;
    z-index: 0;
}

.overlay-twitch {
    position: absolute;
    top: 85.4%;
    left: 523px;
    width: 78px;
    height: 50px;
    background: rgb(255, 0, 0); /* Adjust the transparency (0.5 for 50% transparency) */
    z-index: 2;
}

.overlay-twitch-channel-name {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200px;
    height: 50px;
    background: rgb(255, 0, 0); /* Adjust the transparency (0.5 for 50% transparency) */
    z-index: 2;
}

/* Login Form Styles */
.login-container {
    margin: 0;
}

.login-form {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 30vh;
    width: 50vw;
    max-width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}


#logout-button {
    margin-top: 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 50vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

#logout-button:hover {
    background-color: #cc0000; /* Darker red on hover */
}